@font-face{
    src: url(fonts/OpenSans-VariableFont_wdth\,wght.ttf);
    font-family: OpenSansLocal;
}
    body {
        border: 5px solid blue;

        margin: 0px;
        background-color:blueviolet;
        background-image: url(images/hand-painted-watercolor-pastel-sky-background_23-2148902771.webp);
        background-repeat: no-repeat;
        background-position: center; /*center horizontally*/
        background-attachment: fixed; /*fixed to view port*/
        background-size: cover; /*full background*/
    }
    h1 {
        text-shadow: 3px 3px 5px red, -3px -3px 5px blue;
        border-style: outset;
        border-width: 2px; /*default is 1px*/
        border-color: rgb(200, 122, 28);
        border-radius: 12px;
        /*short hand: border: outset 2px rgb(200, 122, 28);*/
        font-family: Roboto, arial;
        color: white
    }
    .testborder {
        border-bottom: 3px solid red;
        border-top: 3px solid blue;
        border-left: 2px solid green;
        border-right: 2px solid yellow;
        color:rgb(102, 222, 255)
    }

    #parend {
        color: red
    }

    .nah{
        color:black
    }
    
    #fonttest {
        font-family: "OpenSansLocal", 'Courier New';
        font-size: 1em ;
        /*1em -> 100%; 1.1em -> 110% 0.5em -> 50%*/
        font-style: italic
        /*google fors*/
    }

    #box {
        width: 100px;
        height: 100px;
        background-color: grey;
        box-shadow: 3px 3px 5px;
    }

    .boxmargin{
        border: 5px solid;
        font-size: 5em;
        width: 250px;
        height:250px;
    }
    #box2margin {
        background-color: red;
        margin-left: 150px;
    }

    #box3margin {
        background-color: blue;
        margin: auto;
    }

    #floattest
    {
        display: flow-root;
        background-color: antiquewhite;

        border: 10px solid;

    }
    #pokeball{
        float: right;
        margin-right: 50px;
    }

    #pikachu {
        height: 250px;
        float: right;
        margin-right: 10px;

    }

    #overflow
    {
        border: 5px solid;
        height: 250px;
        overflow: auto /*scroll work similar*/
        
    }

    #heightwidth{
        border: 2px solid;
        width: 50%;
        padding: 25px;
        box-sizing: border-box;
    }

    #heightwidth2{
        border:2px solid;
        width: 250px;
        padding: 25px;
        box-sizing: border-box;
        position: fixed;
        top: 0px;
        background-color: red;
    }
    #combinator1 
    {
        border: 2px solid;
    }
    #combinator2
    {
        border: 2px solid;
    }
    #combinator3
    {
        border: 2px solid;
    }
    #combinator4
    {
        border: 2px solid;
    }
    #combinator1 p
    {
        background-color: yellow;
    }

    #combinator2 > p{
        background-color: blue;
    }

    #combinator3 ~ p{
        background-color: green;
    }

    #combinator4 + p{
        background-color: blue;
    }
    /*psuedo class*/
    a:link {
        color:rgb(1, 1, 17)
    }
    a:hover {
        color: yellow;
        font-size: 1.1em;
    }
    
a:visited {
    color: grey;
}

li:hover{
    background-color: yellow;
}
li:not(:hover){
    background-color: grey;
}
li:nth-child(3n + 1){
background-color: blue;
}

#greeting p{
    background-color: aquamarine;
    padding: 10px;
    display: none
}

#greeting:hover p {
    display: block;
}

#h1::first-letter{
    font-size: 2em;
    font-style: italic;
}

#loltest::first-line{
    background-color: yellow;
}

#loltest::selection{
    color:white;
    background-color: yellow;
}

#number li::before{
    content: "💕";
}

#number1::after{
    content: "😂😂";
}

#number li::marker {
    content: "❤️";
    color: green;
}









